<appSettings>
  <add key="username" value="JuneAlvarado624@gmail.com"/>
  <add key="password" value="Carmenblue315!"/>
  <add key="emailto"  value="JuneAlvarado624@gmail.com"/>
  <add key="emailfrom"  value="JuneAlvarado624@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>